html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, a, p {
	font-family: Verdana;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

a {
	text-decoration: none;
}

p {
	margin: 15px 0;
}

ul {
	margin-left: 15px;
}

ul li {
	margin: 10px 0;
}

nav ul {
}

nav li {
	list-style-type: none;
}

nav.horizontal li {
	display: inline;
}

nav a {
}

#header {
}

h1 {
	color: #DB921D;
	margin: 15px 0;
	text-align: center;
	text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}

#main {
	margin-bottom: 1em;
	position: relative;
	text-align: center;
}

#menu {
	left: calc(50% - 540px);
	position: fixed;
	text-align: left;
}

#menu {
}

#menu ul {
}

#menu li {
	border-left: 3px solid orange;
	margin: 5px 0px;
	padding: 2px 5px;
	transition: border-left 0.1s;
}

#menu a.active > li {
	border-left-width: 8px;
}

#menu li:hover {
	border-left-width: 5px;
}

#menu a {
	color: black;
	text-decoration: none;
}

#content {
	display: inline-block;
	text-align: justify;
	width: 600px;
}

#content > section {
	border-top: 1px solid grey;
	padding: 40px 0;
}

#content > section:first-of-type {
	border-top: none;
}

#content > section > h2 {
	margin-bottom: 25px;
}

#orientation {

}

#orientation p {
	display: inline-block;
}

#orientation a {
	background-color: lightgoldenrodyellow;
	border: 2px solid orange;
	color: black;
	margin: 0 5px;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.1s;
}

#orientation a:hover {
	background-color: orange;
	transition: background-color 0.2s;
}

#orientation img {

}

#orientation span {

}

#association {

}

#ysmapwp {
	text-align: center;
}

#ysmapwp.preclick:hover {
	cursor: pointer;
	font-weight: bold;
}

#ysmapwp.preclick > p {
	margin: 0 10px;
	text-decoration: underline;
}

#ysmap {

}

#actions {

}

#rdv {

}

#yoga {

}

#yoga > img {
	height: auto;
	width: 100%;
}

#don {

}

#don > img {
	float: right;
	margin-left: -120px;
	left: 150px;
	position: relative;
	width: 300px;
}

#adhesion {

}

#contact {

}

#media {

}

#diaporama {
	cursor: pointer;
	padding-top: 10px;
	position: relative;
	text-align: center;
}

#diaporama > img {
	box-shadow: 0px 1px 4px black;
	height: auto;
	width: 32%;
}

#diaporama > img:nth-child(1) {
	left: 30px;
}

#diaporama > img:nth-child(2) {
	z-index: 5;
}

#diaporama > img:nth-child(3) {
	right: 30px;
}

#diaporama > img:nth-child(1),
#diaporama > img:nth-child(3) {
	bottom: 10px;
	opacity: 0.8;
	position: relative;
	z-index: -1;
}

#liens {

}
